[Unit]
Description=Total Connect Comfort data logger timer
Documentation=https://github.com/wangi/perl-total-connect-comfort

[Timer]
OnCalendar=*:0/10
Unit=26et.service

[Install]
WantedBy=timers.target
